

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* -------------------------------- index ----------------------------------- */
body {
    background-color: #F3F3F3;
}

.navbar-fixed-top {
    background-color: #F3F3F3;
    color: darkgray;
}

.navbar-brand {
    
    color: darkgray;
}

.jumbotron {
    background-color: #F3F3F3;

}
/* -------------------------------- /index ---------------------------------- */
