

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* -------------------------------- index ----------------------------------- */
body {
    background-color: #FEF2D8;

}

.navbar-fixed-top {
    background-color: #FEF2D8;
}

.navbar-brand {
    font-family: "Oswald";
    color: #036F73;
}

.jumbotron {
    background-color: #036F73;
    color: #FEF2D8;
    font-family: "Oswald";

}


/* -------------------------------- /index ---------------------------------- */
