

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* -------------------------------- index ----------------------------------- */
body {
    background-color: #FEF2D8;

}

.navbar {
    font-family: "Oswald";
}
.container-fluid {
    color: #036F73;
}

.jumbotron {
    background-color: #036F73;
    color: #FEF2D8;
    font-family: "Oswald";

}
.thumbnail {
    background-color: #FEF2D8;
    color: #036F73;
    font-family: "Oswald";
}
.thumbnail p {
    color: #036F73;
}

.header-content-inner {
    color: #F18C79;
}

h3 {
    text-align: center;
}

#html5 {
    height: 200%;
    width: 200%;
}

/* -------------------------------- /index ---------------------------------- */
